*{
    /* border: .5px solid red;  */
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    /* border: 2px solid red; */
}
.Main{
    margin: auto;
} 

/* Global commands */
.col-1 h1,.col-2 h1,.col-3 h1{
    text-align: center;
}
video{
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

/* nav bar */
.nav-bar{
    display: flex;
    background-color: #D5E5F5;
    border-radius: 5%;
}
.nav-links{
    width: 90%;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px;    
}
.signout{
    padding: 5px;
}

/* Main content */
.maincontent{
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.col-1,.col-2,.col-3{
width: 300px;
display: flex;
align-content: space-between;
flex-direction: column;
padding: 10px;
flex-direction: column;
justify-content: center;
}














.bottom-content{
    display: flex;
    justify-content: center;
    align-content: center;
}






.block {
    height: 50px;
    width: 200px;
    background-color: silver;
    border: 1px dotted black;
}